---
layout: default
---
			<div  class="flex two center">
				<div class="flex one two-500 three-1000 center">
					{% include image.html imagename="purse-black.jpg" imagetext = "Черна чанта<br>124.99лв" productname = "Черна чанта" %}
					{% include image.html imagename="purse-white.jpg" imagetext = "Бяла чанта<br>149.99лв" productname = "Бяла чанта" %}
					{% include image.html imagename="purse-pink.jpg" imagetext = "Розова чанта<br>179.99лв" productname = "Розова чанта" %}
				</div>
				
				<div id="product-container">
						<img id="bigPhoto" src="images/t-shirt.jpg" alt="image container" />
						<p id="detailInfo">Детайли за продукта <br> Натиснете върху желания продукт</p>
				</div>	
			</div>
