---
layout: default
---
			<div  class="flex two center">
				<div class="flex one two-500 three-1000 center">
					{% include image.html imagename="watch-apple.jpg" imagetext = "Apple часовник<br>554.99лв" productname = "Apple часовник" %}
					{% include image.html imagename="watch-black.jpg" imagetext = "Черен часовник<br>149.99лв" productname = "Черен часовник" %}
					{% include image.html imagename="watch-gray.jpg" imagetext = "Сив часовник<br>179.99лв" productname = "Сив часовник" %}
				</div>
				
				<div id="product-container">
						<img id="bigPhoto" src="images/t-shirt.jpg" alt="image container" />
						<p id="detailInfo">Детайли за продукта <br> Натиснете върху желания продукт</p>
				</div>	
			</div>
