---
layout: default
---

			<div  class="flex two center">
				<div class="flex one two-500 three-1000 center">
					{% include image.html imagename="kids-hoodie-red.jpg" imagetext = "Червен детски суитчър<br>24.99лв" productname = "Червен детски суитчър" %}
					{% include image.html imagename="kids-hoodie-pink.jpg" imagetext = "Розов детски суитчър<br>24.99лв" productname = "Розов детски суитчър" %}
					{% include image.html imagename="kids-hoodie-black.jpg" imagetext = "Черен детски суитчър<br>24.99лв" productname = "Черен детски суитчър" %}
				</div>
				
				<div id="product-container">
						<img id="bigPhoto" src="images/t-shirt.jpg" alt="image container" />
						<p id="detailInfo">Детайли за продукта <br> Натиснете върху желания продукт</p>
				</div>	
			</div>
