---
layout: default
---
			<div  class="flex two center">
				<div class="flex one two-500 three-1000 center">
					{% include image.html imagename="kids-t-shirt-red.jpg" imagetext = "Червена детска тениска<br>14.99лв" productname = "Червена детска тениска" %}
					{% include image.html imagename="kids-t-shirt-black.jpg" imagetext = "Супермен детска тениска<br>14.99лв" productname = "Супермен детска тениска" %}
					{% include image.html imagename="kids-t-shirt-green.jpg" imagetext = "Зелена детска тениска<br>14.99лв" productname = "Зелена детска тениска" %}
				</div>
				
				<div id="product-container">
						<img id="bigPhoto" src="images/t-shirt.jpg" alt="image container" />
						<p id="detailInfo">Детайли за продукта <br> Натиснете върху желания продукт</p>
				</div>	
			</div>
