---
layout: default
---
			<div  class="flex two center">
				<div class="flex one two-500 three-1000 center">
					{% include image.html imagename="pants-brown.jpg" imagetext = "Бежов панталон<br>39.99лв" productname = "Бежов панталон" %}
					{% include image.html imagename="pants-gray.jpg" imagetext = "Сив панталон<br>69.99лв" productname = "Сив панталон" %}
					{% include image.html imagename="jeans.jpg" imagetext = "Дънки<br>59.99лв" productname = "Дънки" %}
				</div>
				<div id="product-container">
					<img id="bigPhoto" src="images/t-shirt.jpg" alt="image container" />
					<p id="detailInfo">Детайли за продукта <br> Натиснете върху желания продукт</p>
				</div>	
			</div>
