---
layout: default
---
			<div  class="flex two center">
				<div class="flex one two-500 three-1000 center">
					{% include image.html imagename="hoodie-black.jpg" imagetext = "Черен суитчър<br>39.99лв" productname = "Черен суитчър" %}
					{% include image.html imagename="hoodie-gray.jpg" imagetext = "Сив суитчър<br>39.99лв" productname = "Сив суитчър" %}
					{% include image.html imagename="hoodie-red.jpg" imagetext = "Червен суитчър<br>39.99лв" productname = "Червен суитчър" %}
				</div>
				
				<div id="product-container">
						<img id="bigPhoto" src="images/t-shirt.jpg" alt="image container" />
						<p id="detailInfo">Детайли за продукта <br> Натиснете върху желания продукт</p>
				</div>	
			</div>
