
th {
	color: yellow;
}
h1 {
 	background-color: #ccccff;
	text-align: center;	
}
h2 {
	color: 	 #80b3ff;
}
h3 {
	color: #00ff99;
}
p {
	text-align: center;
}
.product {
	width: 400px;
	height: 350px;
}
#mainmenu {
	color: green;
}
#nav {
	background-color: black;
}
.nav-button {
	border-style: solid;
	border-right-width: 2px;
	border-left-width: 2px;
	border-color: white;

	text-align: center;
	padding: 0.3em;
	color: white;
}
#site-name {
	padding: 0px;
	color: green;
	border-right: solid;
	border-color: black;

	font-family: 'Brush Script MT', cursive;
}
#search-bar {
	color: blue;
}