---
layout: default
---
			<div  class="flex two center">
				<div class="flex one two-500 three-1000 center">
					{% include image.html imagename="women-pants-brown.jpg" imagetext = "Оранжев панталон<br>49.99лв" productname = "Оранжев панталон" %}
					{% include image.html imagename="women-pants-black.jpg" imagetext = "Черен панталон<br>49.99лв" productname = "Черен панталон" %}
					{% include image.html imagename="women-pants-white.jpg" imagetext = "Бял панталон<br>49.99лв" productname = "Бял панталон" %}
				</div>
				
				<div id="product-container">
						<img id="bigPhoto" src="images/t-shirt.jpg" alt="image container" />
						<p id="detailInfo">Детайли за продукта <br> Натиснете върху желания продукт</p>
				</div>	
			</div>
