---
layout: default
---
			<div  class="flex two center">
				<div class="flex one two-500 three-1000 center">
					{% include image.html imagename="red-dress.jpg" imagetext = "Червена рокля<br>79.99лв" productname = "Червена рокля" %}
					{% include image.html imagename="blue-dress.jpg" imagetext = "Синя рокля<br>59.99лв" productname = "Синя рокля" %}
					{% include image.html imagename="yellow-dress.jpg" imagetext = "Жълта рокля<br>69.99лв" productname = "Жълта рокля" %}
				</div>
				
				<div id="product-container">
						<img id="bigPhoto" src="images/t-shirt.jpg" alt="image container" />
						<p id="detailInfo">Детайли за продукта <br> Натиснете върху желания продукт</p>
				</div>	
			</div>
