<!DOCTYPE html>
<html>
	<head>
		<title>Магазин</title>
		<link rel="icon" type="image/png" href="images/favicon.png">
		<meta name="viewport" content="width=device-width", initial-scale="1">
		<link rel="stylesheet" href="css/picnic.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<div id = "container">
			<div id="search" class="flex center">
				<a id="site-name" href="index.html" id="mainmenu"><h1>Bend the Trend</h1></a>
				<div class="search-bar">
					<input type="text" placeholder="Search..">
				</div>
			</div>

			<div id="nav" class="flex four center">
				<div class="dropdown">
				  	<a class="button glow-button" href="men.html">Мъже</a>
				  	<div class="dropdown-content">
					  	<a href="men-t-shirts.html">Тениски</a>
					  	<a href="men-pants.html">Панталони</a>
					  	<a href="men-sweatshirts.html">Суичъри</a>
					</div>
				</div>
				
				<div class="dropdown">
					<a class="button glow-button" href="women.html">Жени</a>
				  	<div class="dropdown-content">
					  	<a href="women-t-shirts.html">Тениски</a>
					  	<a href="women-pants.html">Панталони</a>
					  	<a href="women-dresses.html">Рокли</a>
					</div>
				</div>

				<div class="dropdown">
					<a class="button glow-button" href="kids.html">Деца</a>
				  	<div class="dropdown-content">
					  	<a href="kids-t-shirts.html">Тениски</a>
					  	<a href="kids-pants.html">Панталони</a>
					  	<a href="kids-sweatshirts.html">Суичъри</a>
					</div>
				</div>

				<div class="dropdown">
					<a class="button glow-button" href="accessories.html">Аксесоари</a>
				  	<div class="dropdown-content">
					  	<a href="accessories-watches.html">Часовници</a>
					  	<a href="accessories-belts.html">Колани</a>
					  	<a href="accessories-purses.html">Чанти</a>
					</div>
				</div>
			</div>

			{{ content }}

			{% if page.name == "index.html" %}
				<div class="flex two">
					<img src="images/clothes.jpg" alt="Дрехи">
				</div>
				<h2>Bend the Trend е новият любим сайт за мода! Тук ще намерите богато разнообразие от облекло и аксесоари за всеки пол и възраст!</h2>
			{% endif %}
		</div>
	</body>
</html>	